title: In Lieu of Fun
email: "" # TODO: something better, info@ maybe?
description: >-
  "And...we're live!" A webcast hosted by Ben Wittes and Kate Klonick.
baseurl: ""
url: "https://inlieuof.fun"
twitter_username: inlieuoffunshow
github_username:  inlieuoffun
theme: minima

# See _plugins/streamlink.rb.
stream_redirect:
  stream: youtube

collections:
  episodes:
    output: true
    permalink: /episode/:name

defaults:
  -
    scope:
      path: ""
      type: "episodes"
    values:
      layout: "episode"

plugins:
  - jekyll-feed # for Atom syndication

exclude:
  - notes
  - tools
  - README.md
