title: In Lieu of Fun
email: "" # TODO: something better, info@ maybe?
description: >-
  "And...we're live!" A webcast hosted by Ben Wittes and Kate Klonick.
baseurl: ""
url: "https://inlieuof.fun"
twitter_username: inlieuoffunshow
github_username:  inlieuoffun
theme: minima

# See _plugins/redirector.rb.
static_redirect:
  merch:
    fixed: true
    target: "https://revolutionartshop.com/collections/order-of-the-baby-cannon-in-lieu-of-fun"
  store:
    fixed: true
    target: "https://revolutionartshop.com/collections/order-of-the-baby-cannon-in-lieu-of-fun"
  stream:
    values: [crowdcast, youtube]
  episode:
    value: basename_without_ext
    template: '/episode/%<value>s.html'

collections:
  episodes:
    output: true
    permalink: /episode/:name

defaults:
  -
    scope:
      path: ""
      type: "episodes"
    values:
      layout: "episode"

feed:
  excerpt_only: true
  collections:
    - episodes

exclude:
  - tools
  - images
  - README.md
  - scripts
  - "*~"
