---
layout: page
title: Episode Log
exclude: false
---

<p>Here is a list of all the episodes of <em>In Lieu of Fun</em>. They are
listed in reverse chronological order. Follow the &#x2139; icon link beside an
episode number to see the detail page for that episode.  The date links to its
stream on Crowdcast or YouTube.</p>

<p><strong>Note:</strong> Some of the early episode numbers are incorrect on
YouTube.  Rest assured the topics and guests will match even when the numbers
do not.</p>

{% capture newline %}
{% endcapture %}

<style type="text/css">
  table tr.day6 { background-color: #e0e0ee; }
  table tr.special { background-color: #e0eee0; }
</style>
<table>
  <thead>
    <tr>
      <th>Episode</th>
      <th>Summary</th>
      <th>Links</th>
    </tr>
  </thead>
  <tbody>
  {%- for entry in site.episodes reversed -%}
    {%- assign weekday = entry.date | date: "%u" %}
    <tr class="day{{ weekday }}{% if entry.special %} special{% endif %}">
      <td>
        <a name="ep{{ entry.episode }}"></a>
        {{ entry.episode }}&nbsp;<a title="Detail page for episode {{ entry.episode }}" href="/episode/{{ entry.episode }}">&#x2139;</a>
        {%- if entry.acast %}
        <a title="Audio stream for episode {{ entry.episode }}" href="/audio/{{ entry.episode }}">&#x1F509;</a>{% endif -%}<br />
        {% assign label = entry.date | date: "%b. %d, %Y" -%}
        {% capture streamtype %}{% if forloop.index >= 5 %}replay{% else %}stream{% endif %}{% endcapture %}
        <a href="{{ site.url }}/{{ streamtype }}/{{ entry.episode }}" target=_blank
           title="Stream for ILoF episode {{ entry.episode }}; aired {{ entry.date | date: "%B %d, %Y" }}">{{ label }}</a>
      </td>
      <td>
        {%- capture detail -%}
        {% if entry.summary %}{{- entry.summary | strip | replace: newline, " " -}}
        {% elsif entry.guests.size == 1 and entry.guests[0].notes %}
        {{- entry.guests[0].notes | strip | replace: newline, " " -}}
        {% elsif entry.topics %}{{- entry.topics | strip | replace: newline, " " -}}{% endif -%}
        {%- endcapture %}
          {% if detail != "" %}{{ detail }}<br />
          {% endif -%}
        {% if entry.guests -%}
        <small><b>Guests:</b> {{ entry.guests | map: "hyperlink" | join: ", " }}</small>{%- else -%}
        (just your hosts)
        {%- endif %}
      </td>
      <td>
        {%- for link in entry.links %}
        <a href="{{ link.url }}" target=_blank>{{ link.title }}</a>
        {%- unless forloop.last %},
        {% endunless %}
        {%- endfor %}
      </td>
    </tr>
  {%- endfor %}
  </tbody>
</table>
